@font-face {
    font-family: 'Winston';
    src: url('../fonts/Winston/WinstonBold.eot');
    src: url('../fonts/Winston/WinstonBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Winston/WinstonBold.woff') format('woff'),
        url('../fonts/Winston/WinstonBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Winston';
    src: url('../fonts/Winston/WinstonThin.eot');
    src: url('../fonts/Winston/WinstonThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Winston/WinstonThin.woff') format('woff'),
        url('../fonts/Winston/WinstonThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Winston';
    src: url('../fonts/Winston/WinstonMedium.eot');
    src: url('../fonts/Winston/WinstonMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Winston/WinstonMedium.woff') format('woff'),
        url('../fonts/Winston/WinstonMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Demi';
    src: url('../fonts/Franklin/FranklinGothic-Demi.eot');
    src: url('../fonts/Franklin/FranklinGothic-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Franklin/FranklinGothic-Demi.woff') format('woff'),
        url('../fonts/Franklin/FranklinGothic-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Demi Cond';
    src: url('../fonts/Franklin/FranklinGothic-DemiCond.eot');
    src: url('../fonts/Franklin/FranklinGothic-DemiCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Franklin/FranklinGothic-DemiCond.woff') format('woff'),
        url('../fonts/Franklin/FranklinGothic-DemiCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Book';
    src: url('../fonts/Franklin/FranklinGothic-Book.eot');
    src: url('../fonts/Franklin/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Franklin/FranklinGothic-Book.woff') format('woff'),
        url('../fonts/Franklin/FranklinGothic-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}