// camel colors;
$blue-color: #004772;
$light-blue: #00ade9;

// winston colors
$red-color: #e11f33;
$winston-blue: #034ea2;

// ld colors
$ld-color: #d81920;
$ld-gray: #231f20;

// escape room colors
$escape-light-blue: #5ccdc9;